@import "tailwindcss";

body::selection {
  color: #fff;
  background: #f15808;
}

.parallax-bg {
  background-image: url("/images/mission.webp");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card-offering:first-child {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.card-offering:first-child:only-child {
  border-radius: 16px;
}

.card-offering:last-child {
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.scroll-to-top-wrapper {
  position: fixed;
  bottom: 4rem;
  right: 2rem;
  z-index: 30;
}

@keyframes fade-button {
  0% {
    background-color: #ff6210;
  }
  100% {
    background-color: #f15808;
  }
}

@keyframes fade-out-button {
  0% {
    background-color: #f15808;
  }
  100% {
    background-color: #ff6210;
  }
}

@keyframes fade-link {
  0% {
    color: #000;
  }
  100% {
    color: #ff6210;
  }
}

@keyframes fade-in-down {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 1024px) {
  .card-offering:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
  }

  .card-offering:first-child:only-child {
    border-radius: 16px;
  }

  .card-offering:last-child {
    border-bottom-left-radius: 0;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
  }

  .scroll-to-top-wrapper {
    position: fixed;
    bottom: 5rem;
    right: 2rem;
    z-index: 30;
  }
}
